.gallerie .top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    padding-bottom: 1rem;
    border-bottom: var(--borderDotted);
}

.bilderContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-height: calc(100% - 5rem);
}

.bildmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 1rem;
}

.bildmenu .standard-button {
    margin-top: 0;
}

.bildmenu > input {
    outline: none;
    border: none;
    color: black;
    vertical-align: middle;
    font-size: 0.9rem;
}

.imageArea {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    overflow-x: clip;
}

.bilderWrapper {
    display: flex;
    justify-content: center;   
    flex-shrink: 0;
    width: 100%;
    gap: 5px;
    transform: translateX(var(--transform));
    transition: transform 500ms;
}

.row {
    height: 0%;
    min-width: 20%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.row > img {
    display: block;
    width: 100%;
    height: auto;
    opacity: var(--opacity, 0);
    transition: opacity 300ms;
}

/*
Seiten
*/

.seitenzahlen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.seitenContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.seitenContainer > button {
    width: clamp(3rem, 6vw, 4rem);
    aspect-ratio: 1 / 1;
    font-size: 1.2rem;
}

.seitenContainer > button.active {
    filter: brightness(110%);
    outline: 1px solid white;
    outline-offset: -1px;
}

.seitenContainer > button.active:hover {
    filter: brightness(120%);
}