@import url("font/Roboto/roboto.css");
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');*/

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: white;
}

html,
body,
#wrapper {
  overflow: hidden;
}

html,
body {
  min-height: calc(100vh - var(--menuBarHeigth));
  scroll-behavior: smooth;
}

#wrapper {
  min-height: calc(100vh - var(--menuBarHeigth));
}

h1 {
  font-size: 1.6rem;
  font-weight: 500;
}

h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: white;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  outline: none;
  border: none;
  color: black;
  font-size: 1rem;
}

:root {
  --backgroundColor: rgb(52, 73, 94); /*rgb(34, 87, 139);*/
  --backgroundColorDark: rgb(49, 68, 87);
  --sideBarLength: clamp(180px, 25%, 220px);
  --sideBarLengthSmall: clamp(100px, 20%, 160px);
  --borderDotted: 2px dotted white;
  --activeNav: rgb(74, 93, 110);
  --menuBarHeigth: 30px;
  --blackBackground: rgba(31, 30, 30, 0.8);
  --redBackground: #d41324;
}

.standard-button {
  outline: none;
  border: none;
  background-color: var(--activeNav);
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  transition: filter 250ms;
}

.standard-button:hover {
  filter: brightness(120%);
}

.textoverflow {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dragheader {
  width: 100%;
  height: 1.5rem;
  cursor: move;
}

.popupContentWrapper {
  margin-top: 0.5rem;
  padding: 0 1rem;
}

.popupContentWrapper > * {
  margin-bottom: 0.5rem;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputReset::-webkit-outer-spin-button,
.inputReset::-webkit-inner-spin-button  {
  -webkit-appearance: none;
  margin: 0;
}

/* Menüband */

header:not(#contentContainer header) {
  width: 100%;
  background-color: var(--backgroundColor);
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  height: var(--menuBarHeigth);
}

.menuLeft {
  display: flex;
}

.menuRight {
  display: flex;
}

.menuRight > div {
  height: 30px;
  width: 40px;
  overflow: hidden;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-app-region: no-drag;
  background-color: var(--backgroundColor);
  border-bottom: 1px solid white;
  color: white;
}

#minimize:hover,
#maximize:hover {
  filter: brightness(120%);
}

#quit:hover {
  background-color: var(--redBackground);
}

#quit:hover img {
  filter: brightness(120%);
}

.menuRight > div > img {
  width: 100%;
  height: 100%;
}


/* Scrollbar*/

:not(textarea)::-webkit-scrollbar {
  width: 10px;
  background-color: var(--backgroundColor);
}

:not(textarea)::-webkit-scrollbar-track {
  background-color: rgb(67, 102, 133);
  border-radius: 10px;
}

:not(textarea)::-webkit-scrollbar-thumb {
  background: rgb(44, 61, 80);
  border-radius: 10px;
  transition: background-color 250ms;
}

:not(textarea)::-webkit-scrollbar-thumb:hover {
  background-color: rgb(35, 48, 63);
}

/*-------------------------
Seitennavigation
--------------------------*/

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: var(--sideBarLength);
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - var(--menuBarHeigth));
  border-right: 2px solid white;
}

.logo {
  width: 100%;
  height: 5rem;
  padding: 0.5rem;
  font-size: 1.8rem;
  text-align: center;
  color: white;
  font-size: 800;
  position: relative;
  border-bottom: 1px solid black;
}

.logo > img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  aspect-ratio: 1 / 1;
  transform: translate(-50%, -50%);
  z-index: -20;
  visibility: hidden;
}

.link {
  padding: 1rem 0.7rem;
  color: whitesmoke;
  background-color: var(--backgroundColor);
  transition: filter 250ms;
  text-decoration: none;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.link::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  border-radius: 50%;
  width: 0;
  height: 0;
  background-color: var(--activeNav);
  transition: width 0.7s, height 0.7s;
  transform: translate(-50%, -50%);
}

.active::before {
  background-color: var(--activeNav);
  filter: brightness(120%);
}

.link:hover::before {
  width: 500px;
  height: 500px;
}

.link > span {
  margin: 0 auto;
  position: relative;
  z-index: 20;
}

.link > * {
  pointer-events: none;
}

.active {
  background-color: var(--activeNav);
}

.button-container {
  width: 100%;
}

.button-container > button {
  position: relative;
}

.button-container img {
  aspect-ratio: 1 / 1;
  height: 80%;
  width: 1.5rem;
  filter: invert(1);
  margin-right: 0.5rem;
}

.sidebar-bottom {
  margin-top: auto;
  width: 100%;
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-bottom > img {
  width: clamp(32px, 50%, 70px);
  height: 100%;
  aspect-ratio: 1 / 1;
  padding: 1rem;
  filter: invert(1);
  cursor: pointer;
}

#contentContainer {
  min-height: calc(100vh - var(--menuBarHeigth));
  padding-left: var(--sideBarLength);
  background-color: var(--backgroundColor);  
  border-right: 1px solid var(--backgroundColor);
  display: flex;
}

.contentWrapper {
  padding: 1rem;
  height: calc(100vh - var(--menuBarHeigth));
  display: flex;
  width: 100%;
  flex-direction: column;
  transition: transform 500ms;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid var(--backgroundColor);
  position: relative;
}

.filler {
  width: 1px;
  height: calc(100vh - var(--menuBarHeigth));
  display: none;
  background-color: var(--backgroundColor);
}

/*--------------------------------
Menü + Info Popup
---------------------------------*/

#popup {
  position: fixed;
  inset: var(--menuBarHeigth) 0 0 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: none;
}

#popup > div:not(#meldung, #AllgMeldung) {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  min-height: 50%;
  background-color: var(--backgroundColor);
  z-index: 1001;
  display: none;
}

#popup span {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

#meldung {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -25%;
  margin-top: -4rem;
  min-height: 4rem;
  width: 50%;
  min-width: 300px;
  background-color: var(--backgroundColor);
  border: 1px solid white;
  padding: 1rem 1.5rem;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#meldung > .meldungButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#Versionsdetails {
  background-color: var(--backgroundColor);
  padding: 1rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.UpdateName {
  text-align: center;
  margin-bottom: 0.5rem;
}

.Version {
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.Versionsbeschreibung {
  margin-bottom: 0.5rem;
}

#VersionSchließen {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.einstellungen {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.einstellung {
  display: flex;
  gap: 5px;
  width: 100%;
  margin-bottom: 0.5rem;
}

.einstellung > div {
  width: 50%;
}

.einstellung > div:nth-of-type(1) {
  text-align: right;
}

.einstellung > div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gallerieseiten {
  width: clamp(3rem, 50%, 4rem);
  text-align: center;
  -webkit-appearance: none;
}

#settingsMenu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*---------------------------
    Allgemein Meldungsbox
---------------------------*/

#AllgMeldung {
  display: none;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  width: clamp(300px, 60%, 600px);
  min-height: 20rem;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--backgroundColor);
  border: 1px solid white;
}

.buttonBox {
  margin-top: auto;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .link > span {
    display: none;
  }

  .link {
    height: 3.5rem;
    padding: 0.5rem 0.7rem;
    justify-content: center;
  }

  .link::before {
    transition: width 0.9s, height 0.9s;
  }

  .button-container img {
    height: 80%;
    width: 2rem;
    margin: 0 auto;
  }

  .sidebar {
    width: var(--sideBarLengthSmall);
  }

  .sidebar-bottom {
    flex-direction: column;
  }

  .sidebar-bottom > img {
    padding: 0.6rem;
  }

  .logo > img {
    visibility: visible;
  }

  .logo > span {
    visibility: hidden;
  }

  #contentContainer {
    padding-left: var(--sideBarLengthSmall);
  }
}
