.sTop {
    color: white;
}

.sTop h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.sMiddle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top: 2px dotted white;
    padding-top: 1rem;
}

#newWaifu {
    padding: 1rem;
    width: 10rem;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 2rem;
    background-color: darkgrey;
    color: white;
}

#newWaifu:hover {
    filter: brightness(110%);
}

.sFooter {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    border-top: 2px dotted white;
    padding: 1rem 0;
    color: white;
}

.sFooter a {
    color: white;
    text-decoration: none;
}

.sFooter a:hover {
    text-decoration: underline;
}

.sFooter > div {
    width: max-content;
}

.start .waifuWrapper {
    border: 2px solid white;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start .profilbild {
    border-radius: 50%;
    border: 2px solid white;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
}

.start .profilbild > img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.start .name {
    text-align: center;
    font-size: 1.2rem;
}

#startProfil {
    outline: none;
    border: none;
    background-color: var(--activeNav);
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    margin: 1rem auto 0 auto;
    transition: filter 250ms;
}

#startProfil:hover {
    filter: brightness(120%);
}